absl-py==2.0.0
affine==2.4.0
aiofiles==22.1.0
aiohttp==3.8.5
aiosignal==1.3.1
aiosqlite==0.19.0
akantu==5.0.2
alabaster==0.7.13
alembic==1.12.0
altair==5.1.1
ansiwrap==0.8.4
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
ase==3.22.1
asttokens==2.4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
bash_kernel==0.9.1
beautifulsoup4==4.12.2
bibtexparser==1.4.1
biogeme==3.2.11
black==23.3.0
bleach==6.0.0
blosc2==2.0.0
bluepysnap==1.0.7
bokeh==3.2.0
bqplot==0.12.40
branca==0.7.0
cached-property==1.5.2
cachetools==5.3.1
calplot==0.1.7.5
Cartopy==0.21.1
cedelogger @ file:///root/python_modules/cedelogger
certifi==2023.7.22
certipy==0.1.3
cffi==1.15.1
charset-normalizer==3.2.0
chemiscope==0.5.2
cienpy==0.1.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmake==3.26.4
colorama==0.4.6
colorcet==3.0.1
colour==0.1.5
comm==0.1.4
contourpy==1.1.0
control==0.9.4
coverage==7.2.7
cryptography==41.0.3
cycler==0.11.0
Cython==0.29.35
cythonbiogeme==1.0.1
dask==2023.6.1
dask-labextension==6.1.0
datasets==2.14.6
debugpy==1.6.7
decorator==5.1.1
deepdish==0.3.7
defusedxml==0.7.1
deprecation==2.1.0
dgl==1.1.1
diameter-synthesis==0.5.4
dill==0.3.7
distlib==0.3.7
distributed==2023.6.1
docker==6.1.3
docutils==0.20.1
efel==4.2.10
elephant==0.12.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fasteners==0.18
fastjsonschema==2.18.0
fica==0.3.1
filelock==3.12.4
flake8==6.0.0
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.9.0
future==0.18.3
gast==0.5.4
geojson==3.1.0
gitdb==4.0.10
GitPython==3.1.36
gmsh==4.11.1
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
googlemaps==4.10.0
greenlet==2.0.2
grpcio==1.59.2
gspread==5.10.0
h11==0.14.0
h5py==3.9.0
holoviews==1.16.2
htmlmin==0.1.12
huggingface-hub==0.17.3
hyperopt==0.2.7
idna==3.4
ImageHash==4.3.1
imageio==2.31.3
imagesize==1.4.1
import-ipynb==0.1.4
importlib-metadata==6.8.0
iniconfig==2.0.0
interactive-kit==0.1.6
ipydatawidgets==4.3.5
ipykernel==6.25.2
ipyleaflet==0.17.4
ipympl==0.9.3
ipython==8.15.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipyvolume==0.6.3
ipyvue==1.10.1
ipyvuetify==1.8.10
ipywebrtc==0.6.0
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.1.1
json2html==1.3.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-archive==3.3.4
jupyter-bokeh==3.0.7
jupyter-c-kernel==1.2.2
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-server==1.24.0
jupyter-server-mathjax==0.2.6
jupyter-telemetry==0.1.0
jupyter-ydoc==0.2.5
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server_fileid==0.9.0
jupyter_server_proxy==4.0.0
jupyter_server_ydoc==0.8.0
jupyterhub==3.1.1
jupyterlab==3.6.5
jupyterlab-pygments==0.2.2
jupyterlab-sos==0.9.0
jupyterlab-spreadsheet-editor==0.6.1
jupyterlab-widgets==3.0.9
jupyterlab_git==0.43.0
jupyterlab_myst==1.2.0
jupyterlab_server==2.25.0
jupytext==1.15.1
kaggle==1.5.14
keras==2.15.0
kiwisolver==1.4.5
latexcodec==2.0.1
lazy_loader==0.3
ldap3==2.9.1
LFPy==2.3
LFPykit==0.5.1
libclang==16.0.6
libsonata==0.1.22
linkify-it-py==2.0.2
lit==16.0.6
littleutils==0.2.2
locket==1.0.0
lxml==4.9.3
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
MEAutility==1.5.1
meshio==5.3.4
met-brewer==1.0.2
metakernel==0.30.1
missingno==0.5.2
mistune==3.0.1
ml-dtypes==0.2.0
mock==5.0.2
more-itertools==10.1.0
morph-tool==2.9.1
MorphIO==3.3.6
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.15
munkres==1.1.4
mypy-extensions==1.0.0
mysql-connector-python==8.0.33
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbdime==3.2.1
nbformat==5.9.2
nbgitpuller==1.1.1
nbgitpuller-link==0.2.4
nbgrader==0.8.4
neo==0.12.0
nest-asyncio==1.5.7
networkx==3.1
neurom==3.2.2
NEURON==8.2.2
NeuroTS==3.4.0
nglview==3.0.6
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
notebookname @ file:///root/python_modules/notebookname
notebooksend==4.0.4
nptyping==2.5.0
numexpr==2.8.6
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
octave_kernel==0.35.1
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
OSMPythonTools==0.3.5
otter-grader==4.4.0
outcome==1.2.0
outdated==0.2.2
packaging==23.1
pamela==1.1.0
pandas==2.0.3
pandas-flavor==0.6.0
pandas-profiling==3.2.0
pandocfilters==1.5.0
panel==1.2.0
papermill==2.4.0
param==1.13.0
parso==0.8.3
partd==1.4.0
patchify==0.2.3
pathspec==0.11.2
patsy==0.5.3
pep8==1.7.1
pexpect @ git+https://github.com/pexpect/pexpect@c53497663c1a25603ccf8ba7daca03b319387344
phik==0.12.3
pickleshare==0.7.5
Pillow==10.0.0
pingouin==0.5.3
platformdirs==3.10.0
plotly==5.15.0
pluggy==1.3.0
prettytable==3.9.0
prince==0.10.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyBKT==1.4.1
pybtex==0.24.0
pybtex-docutils==1.0.3
pycodestyle==2.10.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.12
pydot==1.4.2
pydotplus==2.0.2
pyee==8.2.2
pyflakes==3.0.1
Pygments==2.16.1
PyGSP==0.5.1
pyiast==1.4.3
PyJWT==2.8.0
pymer4==0.8.0
pynrrd==1.0.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyppeteer==1.0.2
pyproj==3.6.0
pyshp==2.3.1
PySocks==1.7.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1
python-arango==7.5.8
python-dateutil==2.8.2
python-json-logger==2.0.7
python-on-whales==0.62.0
python-pptx==0.6.23
python-slugify==8.0.1
pythreejs==2.4.2
pytz==2023.3.post1
pyviz_comms==3.0.0
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==24.0.1
qtconsole==5.4.4
QtPy==2.4.0
quantities==0.14.1
rapidfuzz==3.1.1
rarfile==4.0
rasterio==1.3.8
referencing==0.30.2
regex==2023.8.8
RegscorePy==1.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
researchpy==0.3.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rioxarray==0.14.1
rpds-py==0.10.3
rpy2==3.5.13
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.4.0
schemdraw==0.17
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-surprise==1.1.3
scipy==1.11.1
seaborn==0.12.2
selenium==4.10.0
Send2Trash==1.8.2
shapely==2.0.1
simpervisor==1.0.0
six==1.16.0
slides @ git+https://gitlab.com/ganciaux/slides.git@4965079edf18ccd58b0802c95feabc5155165c75
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
sos==0.24.1
sos-bash==0.21.0
sos-javascript==0.20.0
sos-julia==0.20.0
sos-matlab==0.20.2
sos-notebook==0.24.4
sos-papermill==0.2.1
sos-python==0.20.0
sos-r==0.20.1
soupsieve==2.5
spatialite==0.0.3
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.17
sqlparse==0.4.4
stack-data==0.6.2
statsmodels==0.14.0
sympy==1.12
tables==3.8.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tblib==2.0.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textwrap3==0.9.2
threadpoolctl==3.2.0
tifffile==2023.8.30
tinycss2==1.2.1
TMD==2.3.1
tokenizers==0.14.1
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
traittypes==0.2.1
transformers==4.34.1
transient-display-data==0.4.3
trio==0.22.2
trio-websocket==0.10.4
triton==2.0.0
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.2
ujson==5.8.0
uri-template==1.3.0
urllib3==1.26.16
validators==0.22.0
virtualenv==20.24.5
visions==0.7.4
voila==0.4.3
Wand==0.6.13
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==10.4
Werkzeug==3.0.1
widget_code_input==3.6.2
widget_periodictable==3.1.1
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.8.0
xgboost==1.7.6
XlsxWriter==3.1.9
xmltodict==0.13.0
xxhash==3.3.0
xyzservices==2023.7.0
y-py==0.6.0
yarl==1.9.2
ypy-websocket==0.8.4
zict==3.0.0
zipp==3.16.2
